{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Nadzorna ploča{% endblock %}

{% block main %}
    {% for widget in widgets %}
        {{ include(widget.template, widget.data) }}
    {% else %}
        <p class="lead">Dobrodošli u Tallyst CMS.</p>
        <p>Odaberite sekciju iz izbornika lijevo.</p>
    {% endfor %}
{% endblock %}
