{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Dobrodošli u Tallyst CMS{% endblock %}

{% block main %}
    <p class="lead">Upravljanje sadržajem, navigacijom, temama i modulima.</p>
    <p>Odaberite sekciju iz izbornika lijevo. Moduli se automatski pojavljuju pod
       <strong>Moduli</strong> kako ih instalirate.</p>
{% endblock %}
